<style>
        .navbar-brand {
            margin-right: 10%;
        }

        .fs-2 {
            margin-left: 2%;
        }

        .autor {
            margin-left: auto;
        }

        .livraria-cultura {
            margin-right: 70%;

        }

        .sobre {
            margin-left: 5%;
        }

        #Botao .btn {
            padding: 10px;
            margin-left: 10%;
            margin-right: 30%;
            margin-top: 2%;
            height: 10;
        }

        .imagem-avaliacao {
            margin-left: 98%;
            margin-top: 1px;
        }

        p {
            p {
                font-size: clamp(1em, 1em + 1vw, 1.5em);
            }

        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            padding: 20px;
        }

        h2 {
            color: #201f1f;
        }

        .cor-preta {
            color: black;
        }

        a {
            color: black;
        }
    </style>

    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="icons.jpg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                 Lumen Livros
            </a>
        </div>
    </nav>
    <div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link cor-preta" href="#">Categorias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active cor-preta" aria-current="page" href="#">Literatura Brasileira</a>
        </li>
        <li class="nav-item">
            <a class="nav-link cor-preta" href="#">Literatura Internacional</a>
        </li>
        <li class="nav-item">
            <a class="nav-link cor-preta" href="#">Infantojuvenis</a>
        </li>
        <li class="nav-item">
            <a class="nav-link cor-preta" href="#">Autoajuda</a>
        </li>
        <li class="nav-item">
            <a class="nav-link cor-preta" href="#">Infantojuvenis</a>
        </li>
        <li class="nav-item">
            <a class="nav-link cor-preta" href="#">Novidades</a>
        </li>
        <li class="nav-item">
            <a class="nav-link cor-preta" href="#">Mais vendidos</a>
        </li>
    </ul>
    </div>

    <a class="fs-5 cor-preta" style="text-align: center;">Livro Cultura > Livros</a>

    <div class="container justify-content-center align-items-center">
        <h1 class="fs-2 ">Livro do Ayrton Senna - 1° Edição 2020</h1>
    </div>



    <div class="container d-flex justify-content-center align-items-center">
        <div class="card mb-3" style="max-width:800px; border: none; background-color: white;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="Senna.jpg" class="card-img-top" alt="Livro Senna">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-title p-1">Livraria Cultura</p>
                        <p class="card-text text-decoration-line-through text-danger">R$ 499.00</p>
                        <h1 class="card-title">R$ 299.00</h1>
                        <p class="card-text">Em até 4x R$ 124.75 sem juros no cartão</p>
                        <p class="card-text">Opções de parcelamento</p>
                        <select class="btn btn-light" name="selece">
                            <option value="Valor 1">A vista R$ 299.00</option>
                            <option value="Parcela 1">2X de R$ 74.75 </option>
                            <option value="Parcela 2">3X de R$ 99.60 </option>
                            <option value="Parcela 4">4X de R$ 74.75 </option>
                        </select>
                        <br> <br>
                        <button type="button" class="btn btn-warning" style="margin-left: 0%;">ADICIONAR AO
                            CARRINHO</button>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid">
        <br>
        <h5>Informações do produto</h5>
        <hr>
        <p>Com conteúdo criteriosamente selecionado para consulta básica no dia a dia,
            o Vade Mecum Compacto, chega à sua 30ª edição. A obra reúne as normas mais utilizadas
            por profissionais e acadêmicos da área jurídica. Sua estrutura foi pensada de forma a
            proporcionar o maior número de diplomas legislativos sem comprometer a legibilidade e o
            trabalho editorial. A edição traz ainda notas de correlação entre as matérias, já tão
            tradicionais nas obras de legislação Saraiva, assim como índices multifuncionais, que
            permitem rápida localização de qualquer assunto por ordem alfabética, cronológica, pelo
            número do diploma ou por seu tema. Além de tudo isso, você terá acesso ao conteúdo
            adicional online da obra no ambiente de aprendizagem, onde encontrará: – Legislação
            adicional – diplomas que completam o extenso conteúdo impresso da obra, para você consultar
            em qualquer lugar; – Serviço Atualize seu Código – atualização semanal online de todo o
            conteúdo impresso. Principais Atualizações da 30.ª edição: Atualizada de acordo com a
            Reforma Tributária! • Constituição Federal (até EC n. 135, de 20-12-2024) • Código Civil
            Nova modalidade de pessoa jurídica de direito privado (Lei n. 15.068, de 23-12-2024)
            • Código de Processo Civil Competência dos juizados especiais cíveis (Lei n. 14.976, de
            18-9-2024) Interposição de recurso em feriado local (Lei n. 14.939, de 30-7-2024) •
            Código Penal Crimes contra a dignidade sexual (Lei n. 15.035, de 27-11-2024) Feminicídio
            (Lei n. 14.994, de 9-10-2024) Crimes contra o Patrimônio (Lei n. 14.967, de 9-9-2024)
            • Código de Processo Penal Prioridade na tramitação dos processos (Lei n. 14.994, de
            9-10-2024) • Código de Trânsito Brasileiro Prevenção a Acidentes com Motociclistas
            (Lei n. 15.006, de 17-10-2024) Veículos usados em autoescolas (Lei n. 14.921, de 10-7-2024.)
            - Legislação Complementar Arcabouço Fiscal – alterações
            (Lei Complementar n. 211, de 30-12-2024) Regulamento do Desarmamento – alterações (Decreto
            n. 12.345, de 30-12-2024) Lei de Benefícios da Previdência Social
            (Lei n. 15.072, de 26-12-2024) Lei Orgânica da Seguridade Social – alterações (Leis n.
            15.072, de 26-12-2024, e 14.973, de 16-9-2024) Marco Legal dos Seguros
            (Lei n. 15.040, de 9-12-2024) Lei das Contravenções Penais – alterações (Lei n. 14.994, de
            9-10-2024) Lei de Execução Penal – alterações (Lei n. 14.994, de 9-10-2024)
            Lei dos Crimes Hediondos – alterações (Lei n. 14.994, de 9-10-2024) ?</p>

    </div>
    <div class="row">
        <hr>
        <div class="col">
            <div class="">

                <div class="card-body">
                    <h2 class="card-title">Detalhes do produto</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Autor</th>
                                <td>Editora Saraiva</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="col">Ano lançamento</th>
                                <td> 2020</td>
                            </tr>
                            <tr>
                                <th scope="col">Edição</th>
                                <td>1° Edição</td>
                            </tr>
                                <th scope="col">Origem</th>
                                <td>Nacional</td>
                            <tr>
                                <th scope="col">Idioma</th>
                                <td>Português</td>
                            </tr>
                                <th scope="col">Pais</th>
                                <td>Brasil</td>
                            <tr>
                                <th scope="col">Altura</th>
                                <td>4.2CM</td>
                            </tr>
                            <tr>
                                <th scope="col">Peso</th>
                                <td>0.2KG</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid py-4 py-md-5 px-4 px-md-3 text-body-secondary cor-preta">
        <div class="row">

            <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                <h5>Sobre a cultura</h5>
                <ul class="list-unstyled cor-preta">
                    <li class="mb-2"><a href="/">Quem somos</a></li>
                    <li class="mb-2"><a href="#">Eventos</a></li>
                    <li class="mb-2"><a href="#">Trabalhe conosco</a></li>
                    <li class="mb-2"><a href="#">Vale presente</a></li>
                    <li class="mb-2"><a href="#">Recuperação Judicial</a></li>

                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
                <h5>Atendimento ao cliente</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#">Entre em contato</a></li>
                    <li class="mb-2"><a href="#">Politica e privacidade</a></li>
                    <li class="mb-2"><a href="#">Politica de entrega e devolução</a></li>
                    <li class="mb-2"><a href="#">Politica de vendas</a></li>
                    <li class="mb-2"><a href="#">Perguntas e respostas</a></li>
                    <li class="mb-2"><a href="#">Atendimento Kobo</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
                <h5>Serviços</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#">Cultura pass</a></li>
                    <li class="mb-2"><a href="#">Sebo cultura</a></li>
                    <li class="mb-2"><a href="#">Teatro cultura</a></li>
                    <li class="mb-2"><a href="#">Mais cultura</a></li>
                    <li class="mb-2"><a href="#">Solicitação de evento</a></li>
                    <li class="mb-2"><a href="#">Cultura Marketplace</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
                <h5>Formas de pagamento</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#">Cartão debito </a></li>
                    <li class="mb-2"><a href="#">Cartão crédito</a></li>
                    <li class="mb-2"><a href="#">Boleto</a></li>
                    <li class="mb-2"><a href="#">Pix</a></li>         
                </ul>
            </div>
        </div>
    </div>
