<style>
  * {}

  .card {
    margin-right: 5px;
    border: none;
  }

  .poster {
    height: 300px;
  }

  .logo {
    height: 100px;
    width: 100px;
  }

  .editora {
    margin-left: 15px;
    height: 300px;
  }
</style>
<header>
  <!-- As a link -->
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="text-align: center;">Livraria</a>
    </div>
  </nav>
</header>
<main>
  <div class="container">

    <div class="card text-bg-dark">
      <img height="500px" src="Imagem Bem Vindos.png" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title" style="text-align: center;">Livraria</h5>
        <p class="card-text">Bem-vindo à nossa livraria!
          Descubra histórias incríveis, mergulhe em aventuras emocionantes e encontre o próximo livro que vai te
          conquistar. Seja qual for seu estilo, temos sempre uma boa leitura esperando por você.</p>

      </div>
    </div> <!-- Fim do card -->
  </div> <!-- Fim do container -->
  <div class="container-fluid">
    <hr>
    <p class="fs-4">Mais vendidos</p>
    <div class="row">

      <div class="card" style="width: 15em;">
        <img src="Livro Senna.jpg" class="card-img-top poster" alt="...">
      </div> <!-- Fim do card -->

      <div class="card" style="width: 15em;">
        <img src="Livro Thiago Nigro.jpg" class="card-img-top poster" alt="...">
      </div> <!-- Fim do card -->

      <div class="card" style="width: 15em;">
        <img src="Livro Nada pode me ferir.jpg" class="card-img-top poster" alt="...">
      </div> <!-- Fim do card -->

      <div class="card" style="width: 15em;">
        <img src="Livro O Poder Do Habito.jpg" class="card-img-top poster" alt="...">
      </div> <!-- Fim do card -->

      <div class="card" style="width: 15em;">
        <img src="Livro Pai Rico e Pai Pobre.jpg" class="card-img-top poster" alt="...">
      </div> <!-- Fim do card -->

      <div class="card" style="width: 15em;">
        <img src="Livro 1984.jpg" class="card-img-top poster" alt="...">
      </div>
    </div> <!-- Fim do row/linha -->

  </div>
  <hr>

  <div class="container-fluid">
    <p class="fs-4">Lançamentos</p>
    <div class="row">

      <div class="card" style="width: 15em;">
        <img src="Lançamento A Dama da Morte.jpg" class="card-img-top poster" alt="...">
      </div> <!-- Fim do card -->

      <div class="card" style="width: 15em;">
        <img src="Lançamento Bill Gates.jpg" class="card-img-top poster" alt="...">
      </div> <!-- Fim do card -->

      <div class="card" style="width: 15em;">
        <img src="Lançamento Confltios de Sangue.jpg" class="card-img-top poster" alt="...">
      </div> <!-- Fim do card -->

      <div class="card" style="width: 15em;">
        <img src="Lançamento Santo de Casa.jpg" class="card-img-top poster" alt="...">
      </div> <!-- Fim do card -->

      <div class="card" style="width: 15em;">
        <img src="Lançamento Casei e Agora.jpg" class="card-img-top poster" alt="...">
      </div> <!-- Fim do card -->

      <div class="card" style="width: 15em;">
        <img src="Lançamento Tudo ou Nada.jpg" class="card-img-top poster" alt="...">
      </div>
    </div> <!-- Fim do row/linha -->

  </div>
<hr>
<br>

  <h1>Escolha do Editor - Stephen King </h1>

  <!-- Linha para agrupar os dois cards lado a lado -->
  <div class="row">

    <!-- Coluna para o primeiro card -->
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="Card It a Coisa.jpg" class="img-fluid rounded-start editora" alt="Livro it a coisa.">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">It: A coisa</h5>
              <p class="card-text">Um dos maiores sucessos de Stephen King, A Coisa mergulha o leitor em uma atmosfera
                sombria onde o medo assume formas reais. Na cidade de Derry, um grupo de amigos enfrenta uma entidade
                maligna que volta a cada 27 anos. Uma história envolvente sobre amizade, trauma e coragem diante do
                terror.</p>
              <p class="card-text"><small class="text-body-secondary">24 julho 2014</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Coluna para o segundo card -->
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="Card O Cemiterio.jpg" class="img-fluid rounded-start editora" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">O cemitério</h5>
              <p class="card-text">Após a morte trágica de um ente querido, uma família descobre um antigo cemitério com
                poderes sombrios.
                Um terror sobre perda, luto e as consequências de desafiar a morte.</p>
              <p class="card-text"><small class="text-body-secondary">24 abril 2013</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="Card The Shining.jpg" class="img-fluid rounded-start editora" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">The Shining</h5>
              <p class="card-text">Um clássico do terror psicológico de Stephen King. A história acompanha Jack
                Torrance, um escritor que aceita ser zelador de um hotel isolado nas montanhas durante o inverno.
                Conforme a solidão e forças sobrenaturais se intensificam, a sanidade de Jack começa a desmoronar,
                colocando sua família em perigo.</p>
              <p class="card-text"><small class="text-body-secondary">26 junho 2012</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="Card A Dança.jpg" class="img-fluid rounded-start editora" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">A Dança da Morte</h5>
              <p class="card-text">Após um vírus mortal dizimar grande parte da humanidade, os sobreviventes se dividem
                entre o bem e o mal. Em meio ao caos, surge uma batalha épica entre forças sombrias e a esperança de um
                novo começo. Um dos romances mais ambiciosos de Stephen King.</p>
              <p class="card-text"><small class="text-body-secondary">19 novembro 2013</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</main>

<router-outlet />